# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
node_modules
vendor

# Environment (contains sensitive data)
.env
.env.production
.env.example

# Files not required for production
.editorconfig
Dockerfile
README.md